<nav class="navbar navbar-default" role="navigation">
     <div class="navbar-header">
       <a class="navbar-brand" href="/">Foderstatistik</a>
       <ul class="nav">
         <li class="nav-item"><a class="nav-link" href="/batches">Foderbatchar</a></li>
         <li class="nav-item"><a class="nav-link" href="/consumptions">Utfodring</a></li>
         <li class="nav-item"><a class="nav-link" href="/animalGroups">Djur/djurgrupper</a></li>
       </ul>
    </div>
    <form action="/logout" method="post">
      <button type="submit" class="btn btn-danger" value="accept">Logga ut</button>
    </form>
</nav>