<!DOCTYPE html>
<html lang="sv">
<head>
  <% include ../partials/head %>
</head>
<body class="container">
  <header>
    <% include ../partials/header %>
  </header>
  <main>
    <div class="alert alert-danger">Oopsie poopsie! Något gick fel :/</div>
  </main>
</body>
</html>
