<!DOCTYPE html>
<html lang="sv">
<head>
  <% include ../partials/head %>
</head>
<body class="container">
  <header>
    <% include ../partials/header %>
  </header>
  <main>
    <div role="alert" class="alert alert-danger">Något gick fel. <%= message %></div>
  </main>
</body>
</html>
