<!DOCTYPE html>
<html lang="sv">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>
    <main>
      <div class="jumbotron">
        <h1>Djur/djurgrupper</h1>
      </div>
      <div class="container">
        <h2>Sparade djur och djurgrupper</h2>
        <% if(animalGroups.length > 0) {%>
        <ul class="list-group">
          <% animalGroups.forEach(function(animalGroup) { %>
          <li class="list-group-item">
            Namn: <%= animalGroup.name %>
            <br />
            Antal djur: <%= animalGroup.amount %>
          </li>
          <% });%>
        </ul>
        <% } %>
      </div>
      <div class="container">
        <h2>Lägg till ny djurgrupp/nytt djur</h2>
        <form action="/animalGroups" method="post">
          <div class="form-group">
            <label for="animalGroupForm">Namn</label>
            <input type="text" class="form-control" id="animalGroupFormName" name="animalGroupName">
          </div>
          <div class="form-group">
            <label for="animalGroupForm">Antal djur</label>
            <input type="number" class="form-control" id="animalGroupFormAmount" name="animalGroupAmount">
          </div>
          <button type="submit" class="btn btn-primary" value="accept">Spara</button>
        </form>
      </div>
    </main>
  </body>
</html>
