<!DOCTYPE html>
<html lang="sv">
<head>
  <% include ../partials/head %>
</head>
<body class="container">
  <header>
    <% include ../partials/header %>
  </header>
  <main>
  <div class="alert alert-light">Djur/djurgrupp borttagen</div>
  <form action="/animalGroups" method="get">
  <button type="submit" class="btn btn-primary">Tillbaka</button>
  </form>
  </main>
</body>
</html>
